
@media (max-width: 991px) {
    .container {
        padding: 0px 10px;
        }
    }

@media (max-width: 767px) {
    .header {
        &__contacts{
            a {
                font-size: 14px;
                }
            }
        }
}
@media (max-width: 575px) {
    .header {
        &__contacts{
            margin-left: 20px;
            .button{
                width: 105px;
                font-size: 10px;
            }
            a {
                font-size: 11px;
                }
            }
        }
    .promo{
        &__icons{
            width: 300px;
        }
        &__icon{
            font-size: 13px;
        }
        &__wrapper{
            h1{
                text-align: center;
                font-size: 35px;
            }
            h2{
                text-align: center;
                font-size: 21px;
            }
        }
    }
    .xs-hide {
        display: none ;
    }
    .advantages {
        min-height: 420px;
            &
            &__subtitle{
                margin: 3px;
                font-size: 15px;
            }
            h2{
                font-size: 25px;
            }
    }
    .consultation{
        h2{
            text-align: center;
            font-size: 20px;
        }
        &__descr{
            text-align: center;

            font-size: 17px;
        }
    }

}